<ng-container *transloco="let t">
  <div class="settings__panel ul-mt-6">
    <h2 class="ul-typography-headline-s-extrabold ul-mb-4">
      {{ t('settings.publicProfile') }}
    </h2>

    <ul-toggle
      [label]="t('settings.showCityLabel')"
      [helperText]="t('settings.showCityHelper')"
      [checked]="showCity()"
      (checkedChange)="onToggleShowCity($event)"
    />

    @if (showCity()) {
      <div class="settings-profile-city__city-row ul-mt-4">
        <div class="settings-profile-city__city-row__display">
          @if (selectedCity(); as city) {
            <ul-icon icon="map_pin" size="5" />
            <span class="ul-typography-body-m-extrabold">{{ city.displayName }}</span>
          } @else {
            <span class="ul-typography-body-l-regular">{{ t('location.changeLocation') }}</span>
          }
        </div>
        <ul-button
          theme="outline-white"
          type="button"
          size="sm"
          [disabled]="cityModalOpen()"
          [ariaLabel]="t('location.changeLocation')"
          (buttonClick)="cityModalOpen.set(true)"
        >
          {{ t('location.changeLocation') }}
        </ul-button>
      </div>

      <ul-modal
        [(open)]="cityModalOpen"
        [title]="t('location.changeLocation')"
        [fullScreenInMobile]="true"
      >
        <um-location-picker
          [searchLocation]="selectedCity()"
          [showMap]="true"
          [showConfirmButton]="true"
          [resolvedCurrentArea]="cityResolvedCurrentArea()"
          [placeholder]="t('location.searchPlaceholder')"
          [suggestions]="citySuggestions()"
          [isResolvingCurrentLocation]="isResolvingCurrentCity()"
          (queryChanged)="onCityQueryChanged($event)"
          (confirmed)="onCityConfirmed($event)"
          (useCurrentLocationRequested)="onUseCurrentCity()"
        />
      </ul-modal>

      @if (suggestedCity(); as suggested) {
        <div class="ul-mt-3">
          <p class="ul-typography-body-s-regular ul-text-secondary ul-mb-2">
            {{ t('settings.suggestedCityHelper') }}
          </p>
          <ul-button
            theme="transparent-white"
            size="sm"
            (buttonClick)="onUseSuggestedCity(suggested)"
          >
            {{ t('settings.useSuggestedCity', { city: suggested.displayName }) }}
          </ul-button>
        </div>
      }
    }
  </div>
</ng-container>
