@if (layout() === 'dock') {
  <button
    type="button"
    class="ul-dock-item"
    aria-haspopup="dialog"
    aria-label="Open notifications"
    [attr.aria-expanded]="isOpen()"
    (click)="isOpen.set(true)"
  >
    <ul-icon icon="bell_on" size="6" />
    @if (unreadCount() > 0) {
      <span class="ul-dock-item__badge">{{ unreadCount() }}</span>
    }
  </button>

  @if (isOpen()) {
    <div class="um-notifications__mobile-panel">
      <div class="um-notifications__mobile-header">
        <span class="um-notifications__title">Notifications</span>
        <ul-button
          type="button"
          theme="ghost-white"
          [iconOnly]="true"
          ariaLabel="Close"
          (buttonClick)="isOpen.set(false)"
        >
          <ul-icon icon="close" size="6" />
        </ul-button>
      </div>

      @if (notifications().length === 0) {
        <p class="um-notifications__empty">You're all caught up.</p>
      } @else {
        <ul class="um-notifications__list">
          @for (notification of notifications(); track notification.id) {
            <li class="um-notifications__list-item">
              <button
                type="button"
                class="um-notifications__item"
                [class.um-notifications__item--unread]="!notification.read"
                (click)="onNotificationClick(notification)"
              >
                <span class="um-notifications__item-message ul-typography-caption-l-regular">{{
                  notification.message
                }}</span>
                <span class="um-notifications__item-time ul-typography-caption-l-regular">{{
                  notification.createdAt | relativeTime
                }}</span>
              </button>
            </li>
          }
        </ul>
      }
    </div>
  }
} @else {
  <button
    type="button"
    class="um-notifications__trigger"
    [cdkMenuTriggerFor]="menu"
    aria-haspopup="menu"
    aria-label="Open notifications"
    [attr.aria-expanded]="isOpen()"
    (cdkMenuOpened)="isOpen.set(true)"
    (cdkMenuClosed)="isOpen.set(false)"
  >
    <ul-icon icon="bell_on" size="6" />
    @if (unreadCount() > 0) {
      <span class="um-notifications__badge">{{ unreadCount() }}</span>
    }
  </button>

  <ng-template #menu>
    <div cdkMenu class="um-notifications__content">
      <div class="um-notifications__header">
        <span class="um-notifications__title">Notifications</span>
      </div>

      @if (notifications().length === 0) {
        <p class="um-notifications__empty">You're all caught up.</p>
      } @else {
        @for (notification of notifications(); track notification.id) {
          <button
            cdkMenuItem
            type="button"
            class="um-notifications__item"
            [class.um-notifications__item--unread]="!notification.read"
            (click)="onNotificationClick(notification)"
          >
            <span class="um-notifications__item-message ul-typography-caption-l-regular">{{
              notification.message
            }}</span>
            <span class="um-notifications__item-time ul-typography-caption-l-regular">{{
              notification.createdAt | relativeTime
            }}</span>
          </button>
        }
      }
    </div>
  </ng-template>
}
