@if (isLoading()) {
  <div class="ul-row">
    @for (row of skeletonRows(); track $index) {
      <div class="ul-col-6 ul-col-sm-4 ul-col-md-3 ul-col-lg-2 ul-col-xl-2">
        <ul-card [loading]="true" cardDirection="vertical" mediaAspectRatio="portrait" />
      </div>
    }
  </div>
} @else if (listings().length === 0) {
  <p class="ul-typography-body-m-regular ul-text-secondary ul-mt-8">
    {{ emptyStateText() }}
  </p>
} @else {
  <div class="ul-row" *transloco="let t">
    @for (listing of listings(); track listing.id; let i = $index) {
      <div class="ul-col-6 ul-col-sm-4 ul-col-md-3 ul-col-lg-2 ul-col-xl-2">
        <a [routerLink]="['/listings', createListingSlug(listing.title, listing.id)]">
          <ul-card
            [cardTitle]="listing.title"
            [cardSubtitle]="listing.price | listingPrice: listing.currency"
            [cardCaption]="listing.categoryId ? t('category.' + listing.categoryId) : ''"
            cardDirection="vertical"
            mediaAspectRatio="portrait"
          >
            @if (listing.imageUrls[0]; as image) {
              <img
                ulCardMedia
                [ngSrc]="image"
                fill
                sizes="(min-width: 1280px) 16vw, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, 50vw"
                [priority]="i < priorityImageCount"
                [alt]="listing.title"
              />
            } @else {
              <div ulCardMedia class="um-listing-grid__placeholder"></div>
            }
          </ul-card>
        </a>
      </div>
    }
  </div>
}
