<ng-container *transloco="let t">
  <h2 class="ul-typography-headline-m-extrabold ul-mb-6">
    {{ t('profile.myListings', { value: listings().length }) }}
  </h2>
  @if (filteredListings().length > 0) {
    <div class="profile-listings__bulk-bar">
      <ul-checkbox
        [checked]="listingList.allSelected()"
        [indeterminate]="listingList.someSelected()"
        (checkedChange)="listingList.toggleSelectAll($event)"
      >
        {{ t('profile.selectAllAriaLabel') }}
        @if (hasSelection()) {
          ({{ selectedIds().size }})
        }
      </ul-checkbox>
      @if (hasSelection()) {
        <ul-button type="button" theme="fill-red" size="sm" (buttonClick)="onBulkDeleteClick()">
          {{ t('profile.bulkDeleteButton', { value: selectedIds().size }) }}
        </ul-button>
      }
    </div>
  }
  <div class="um-profile-listings__list">
    <um-listings-list
      #listingList
      class="ul-d-flex"
      [listings]="filteredListings()"
      [isLoading]="isLoading()"
      [ariaLabel]="t('profile.selectListingAriaLabel')"
      [(selection)]="selectedIds"
    >
      @if (!isLoading() && listings().length > 0) {
        <um-search-sort
          toolbar
          class="ul-mb-4"
          [searchPlaceholder]="t('profile.searchPlaceholder')"
          [sortPlaceholder]="t('listing.sortPlaceholder')"
          [sortOptions]="sortOptions()"
          [(query)]="searchQuery"
          [(sort)]="sortOption"
        />
      }
      @if (hasSearchQuery()) {
        <span emptyListText>{{ t('profile.noSearchResults') }}</span>
      } @else {
        <span emptyListText>{{ t('profile.emptyState') }}</span>
      }
      @if (!hasSearchQuery()) {
        <ul-button emptyList theme="fill-purple" size="md" type="button" routerLink="/listings/new">
          {{ t('home.postListing') }}
        </ul-button>
      }
    </um-listings-list>
  </div>
  <ul-modal
    [open]="!!pendingDeleteIds()"
    [title]="
      pendingDeleteCount() > 1
        ? t('profile.bulkDeleteModalTitle')
        : t('listingDetail.deleteModalTitle')
    "
    variant="confirmation"
    [confirmLabel]="t('common.delete')"
    [cancelLabel]="t('common.cancel')"
    (confirmed)="confirmDelete()"
    (cancelled)="cancelDelete()"
  >
    @if (pendingDeleteCount() > 1) {
      <p class="ul-typography-body-m-regular">
        {{ t('profile.bulkDeleteModalBody', { value: pendingDeleteCount() }) }}
      </p>
    } @else if (pendingDeleteSingleTitle(); as title) {
      <p class="ul-typography-body-m-regular">
        {{ t('listingDetail.deleteModalBody', { value: title }) }}
      </p>
    }
  </ul-modal>
</ng-container>
