<ng-container *transloco="let t">
  <h2 class="ul-typography-headline-m-extrabold ul-mb-6">
    {{ title() }}
  </h2>
  <div class="um-profile-listings__list">
    <um-listings-list
      [listings]="filteredListings()"
      [isLoading]="isLoading()"
      [ariaLabel]="t('profile.selectListingAriaLabel')"
    >
      @if (!isLoading()) {
        <ng-container toolbar>
          <ul-search-input
            [placeholder]="t('profile.searchPlaceholder')"
            [suggestions]="recentSearchSuggestions()"
            [suggestionsLabel]="t('common.recentSearchesLabel')"
            [backLabel]="t('common.back')"
            [clearLabel]="t('common.clear')"
            [resultsTemplate]="mobileSearchResults"
            [(value)]="searchQuery"
            (searchSubmit)="onSearchSubmit($event)"
            (suggestionSelected)="onSuggestionSelected($event)"
          />
          <ng-template #mobileSearchResults>
            <um-listings-list
              [listings]="filteredListings()"
              [isLoading]="isLoading()"
              [ariaLabel]="t('profile.selectListingAriaLabel')"
            >
              <span emptyListText>{{
                hasSearchQuery() ? t('profile.noSearchResults') : t('profile.emptyState')
              }}</span>
            </um-listings-list>
          </ng-template>

          <um-sort
            toolbar
            class="ul-mb-4 profile-listings__inline-toolbar"
            [placeholder]="t('listing.sortPlaceholder')"
            [sortOptions]="sortOptions()"
            [(sort)]="sortOption"
          />
        </ng-container>
      }
      <span emptyListText>{{
        hasSearchQuery() ? t('profile.noSearchResults') : t('profile.emptyState')
      }}</span>

      @if (!hasSearchQuery()) {
        <ul-button emptyList theme="fill-purple" size="md" type="button" routerLink="/listings/new">
          {{ t('home.postListing') }}
        </ul-button>
      }
    </um-listings-list>
  </div>
</ng-container>
