@use 'pkg:@underlayerdev/ui/design-tokens' as tokens;
@use 'pkg:@underlayerdev/ui/breakpoints' as bp;

:host {
  display: block;
}

.profile-listings {
  &__bulk-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: tokens.$spacing-spacing-3;
    margin-bottom: tokens.$spacing-spacing-4;
  }
}
