<ng-container *transloco="let t">
  @if (invalidLink()) {
    <div class="ul-gap-3 auth-invalid">
      <ul-status status="error">
        <div ul-status-title>{{ t('resetPassword.invalidLinkTitle') }}</div>
        <div ul-status-description>{{ t('resetPassword.invalidLinkDescription') }}</div>
      </ul-status>

      <ul-button theme="outline-white" size="md" type="button" routerLink="/forgot-password">
        {{ t('resetPassword.requestNewLink') }}
      </ul-button>
    </div>
  } @else if (passwordChanged()) {
    <ul-status status="confirm">
      <div ul-status-title>{{ t('resetPassword.passwordChangedTitle') }}</div>
      <div ul-status-subtitle>{{ t('resetPassword.passwordChangedSubtitle') }}</div>
      <div ul-status-description>{{ t('resetPassword.passwordChangedDescription') }}</div>
    </ul-status>

    <ul-button theme="outline-white" size="md" type="button" routerLink="/login">
      {{ t('auth.backToSignIn') }}
    </ul-button>
  } @else {
    <h1 class="ul-typography-headline-l-extrablack ul-mb-1 auth-title">
      {{ t('resetPassword.title') }}
    </h1>
    <p class="ul-typography-body-m-regular ul-mb-6 ul-text-secondary auth-subtitle">
      {{ t('resetPassword.subtitle') }}
    </p>

    <div class="ul-gap-4 auth-form">
      <ul-input
        [label]="t('resetPassword.newPasswordLabel')"
        [placeholder]="t('register.passwordPlaceholder')"
        type="password"
        [required]="true"
        [(value)]="passwordValue"
        [error]="!!passwordError()"
        [errorText]="passwordError()"
      />

      <ul-input
        [label]="t('resetPassword.confirmNewPasswordLabel')"
        [placeholder]="t('register.confirmPasswordPlaceholder')"
        type="password"
        [required]="true"
        [(value)]="confirmPasswordValue"
        [error]="!!confirmPasswordError()"
        [errorText]="confirmPasswordError()"
      />

      @if (errorMessage(); as msg) {
        <div
          role="alert"
          class="ul-py-2 ul-px-3 ul-bg-grey-lvl-1 ul-border-red ul-rounded-3 ul-text-red auth-form__error-banner"
        >
          {{ msg }}
        </div>
      }

      <ul-button
        theme="fill-purple"
        size="md"
        type="button"
        [disabled]="isLoading()"
        (buttonClick)="onSubmit()"
      >
        {{ submitButtonLabel() }}
      </ul-button>

      <ul-button theme="outline-white" size="md" type="button" routerLink="/login">
        {{ t('auth.backToSignIn') }}
      </ul-button>
    </div>
  }
</ng-container>
