@if (invalidLink()) {
  <div class="ul-gap-3 auth-invalid">
    <ul-status status="error">
      <div ul-status-title i18n="@@resetPassword.invalidLinkTitle">Invalid or expired link</div>
      <div ul-status-description i18n="@@resetPassword.invalidLinkDescription">
        This password reset link is no longer valid. Please request a new one.
      </div>
    </ul-status>

    <ul-button theme="outline-white" size="md" type="button" routerLink="/forgot-password">
      <ng-container i18n="@@resetPassword.requestNewLink">Request a new link</ng-container>
    </ul-button>
  </div>
} @else if (passwordChanged()) {
  <ul-status status="confirm">
    <div ul-status-title i18n="@@resetPassword.passwordChangedTitle">Password changed</div>
    <div ul-status-subtitle i18n="@@resetPassword.passwordChangedSubtitle">
      Your password has been updated
    </div>
    <div ul-status-description i18n="@@resetPassword.passwordChangedDescription">
      You can now sign in with your new password.
    </div>
  </ul-status>

  <ul-button theme="outline-white" size="md" type="button" routerLink="/login">
    <ng-container i18n="@@auth.backToSignIn">Back to Sign In</ng-container>
  </ul-button>
} @else {
  <h1 class="ul-typography-headline-l-extrablack ul-mb-1 auth-title" i18n="@@resetPassword.title">
    Set new password
  </h1>
  <p
    class="ul-typography-body-m-regular ul-mb-6 ul-text-secondary auth-subtitle"
    i18n="@@resetPassword.subtitle"
  >
    Choose a strong password for your account.
  </p>

  <div class="ul-gap-4 auth-form">
    <ul-input
      label="New password"
      i18n-label="@@resetPassword.newPasswordLabel"
      placeholder="Min. 6 characters"
      i18n-placeholder="@@register.passwordPlaceholder"
      type="password"
      [required]="true"
      [(value)]="passwordValue"
      [error]="!!passwordError()"
      [errorText]="passwordError()"
    />

    <ul-input
      label="Confirm new password"
      i18n-label="@@resetPassword.confirmNewPasswordLabel"
      placeholder="Repeat your password"
      i18n-placeholder="@@register.confirmPasswordPlaceholder"
      type="password"
      [required]="true"
      [(value)]="confirmPasswordValue"
      [error]="!!confirmPasswordError()"
      [errorText]="confirmPasswordError()"
    />

    @if (errorMessage(); as msg) {
      <div
        role="alert"
        class="ul-py-2 ul-px-3 ul-bg-grey-lvl-1 ul-border-red ul-rounded-3 ul-text-red auth-form__error-banner"
      >
        {{ msg }}
      </div>
    }

    <ul-button
      theme="fill-purple"
      size="md"
      type="button"
      [disabled]="isLoading()"
      (buttonClick)="onSubmit()"
    >
      {{ submitButtonLabel() }}
    </ul-button>

    <ul-button theme="outline-white" size="md" type="button" routerLink="/login">
      <ng-container i18n="@@auth.backToSignIn">Back to Sign In</ng-container>
    </ul-button>
  </div>
}
