<ng-container *transloco="let t">
  <div class="settings__panel ul-mt-6">
    <h2 class="ul-typography-headline-s-extrabold ul-mb-4">
      {{ t('settings.publicProfile') }}
    </h2>

    <ul-toggle
      [label]="t('settings.showCityLabel')"
      [helperText]="t('settings.showCityHelper')"
      [checked]="showCity()"
      (checkedChange)="onToggleShowCity($event)"
    />

    @if (showCity()) {
      <div class="ul-mt-4">
        <um-location-picker
          [label]="t('settings.cityLabel')"
          [placeholder]="t('location.searchPlaceholder')"
          [initialQuery]="selectedCity()?.displayName ?? ''"
          [suggestions]="citySuggestions()"
          [isResolvingCurrentLocation]="isResolvingCurrentCity()"
          [useCurrentLocationLabel]="t('location.useCurrentLocationLabel')"
          (queryChanged)="onCityQueryChanged($event)"
          (suggestionSelected)="onCityPicked($event)"
          (useCurrentLocationRequested)="onUseCurrentCity()"
        />
      </div>

      @if (suggestedCity(); as suggested) {
        <div class="ul-mt-3">
          <p class="ul-typography-body-s-regular ul-text-secondary ul-mb-2">
            {{ t('settings.suggestedCityHelper') }}
          </p>
          <ul-button
            theme="transparent-white"
            size="sm"
            (buttonClick)="onUseSuggestedCity(suggested)"
          >
            {{ t('settings.useSuggestedCity', { city: suggested.displayName }) }}
          </ul-button>
        </div>
      }
    }
  </div>
</ng-container>
