<ng-container *transloco="let t">
  <ul-hero
    [title]="t('home.heroTitle')"
    [subtitle]="t('home.heroSubtitle')"
    [primaryAction]="heroPrimaryAction()"
    size="md"
    alignment="left"
  />

  <section class="ul-container-fluid">
    <div class="ul-content">
      <h2 class="ul-typography-headline-m-extrabold ul-mb-2">{{ t('home.latestListings') }}</h2>

      @if (isLoading()) {
        <div class="ul-row">
          @for (row of skeletonRows(); track $index) {
            <div class="ul-col-6 ul-col-sm-4 ul-col-md-3 ul-col-lg-2 ul-col-xl-2">
              <ul-card [loading]="true" cardDirection="vertical" mediaAspectRatio="portrait" />
            </div>
          }
        </div>
      } @else if (listingService.listings().length === 0) {
        <p class="ul-typography-body-m-regular">{{ t('home.emptyState') }}</p>
      } @else {
        <div class="ul-row">
          @for (listing of listingService.listings(); track listing.id; let i = $index) {
            <div class="ul-col-6 ul-col-sm-4 ul-col-md-3 ul-col-lg-2 ul-col-xl-2">
              <a [routerLink]="['/listings', createListingSlug(listing.title, listing.id)]">
                <ul-card
                  [cardTitle]="listing.title"
                  [cardSubtitle]="listing.price | listingPrice: listing.currency"
                  [cardCaption]="listing.category"
                  cardDirection="vertical"
                  mediaAspectRatio="portrait"
                >
                  @if (listing.imageUrls[0]; as image) {
                    <img
                      udsCardMedia
                      [ngSrc]="image"
                      fill
                      sizes="(min-width: 1280px) 16vw, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, 50vw"
                      [priority]="i < 4"
                      [alt]="listing.title"
                    />
                  } @else {
                    <div udsCardMedia class="home__placeholder"></div>
                  }
                </ul-card>
              </a>
            </div>
          }
        </div>
      }
    </div>
  </section>
</ng-container>
